body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
}

li {
  display: flex;
  text-align: left;
  align-items: center;
  max-width: 50%;
  background-color: #fff;
  border: 0.5px solid #ccc;
  margin: 1rem;
  filter: drop-shadow(0 0.4rem 0.2rem rgb(230, 229, 229));
}

li img {
  padding: 0 2rem 0 0;
  height: 205px;
  width: 120px;
}
